<h1>Log In</h1>
<hr>
<%= form_for @user, {url: sessions_path, method: :post} do |f| %>
<%= f.label :email %>
<%= f.email_field :email, placeholder:"Your email", class:"form-control" %>

<%= f.label :password %>
<%= f.password_field :password, placeholder:"Your password", class:"form-control" %>
<br>
<%= f.submit "Submit", class:"btn btn-block btn-info" %>

<% end %>

<br>
<p>Don't have an account? Click <%= link_to "here", signup_path%> to sign up.</p>
