
<%= form_for @recipe do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Recipe Name",class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :instructions %>
    <%= f.text_area :instructions, class: "form-control", placeholder: "Type your recipe instructions here" %>
  </div>
  <%= f.submit "Save Recipe", class: "btn btn-block btn-default" %>
<% end %>
