<h1>Sign Up</h1>
<hr>
<%= form_for @user do |f| %>
<%= f.label :email %>
<%= f.email_field :email, placeholder: "email@example.com", class: "form-control", autofocus: true %>

<%= f.label :password %>
<%= f.password_field :password, placeholder: "Must be at least 6 characters", class: "form-control" %>

<%= f.label :password_comfirmation, "Password Confirmation" %>
<%= f.password_field :password_comfirmation, placeholder: "Confirm password", class: "form-control" %>
<br>
<%= f.submit "Sign Up", class: "btn btn-block btn-info" %>
<% end %>
<br>
<p>Already have an account? Click <%= link_to "here", login_path%> to login.</p>
